/* tablet size 992px 768px 576px*/

/* Anything but desktop*/
@media screen and (max-width: 768px) {
  .topcontainer {
      position: static;
  }

  .gradient {
      margin-top: 0px;
  }

  .sectioncontent {
      margin: 10px 10px;
  }
  .work {
      flex-basis: 100%;
  }
}