
/* Color pallete from coolers*/
:root {
--antique-ruby: #8B012Dff;
--eminence: #793996ff;
--brink-pink: #FF5580ff;
--congo-pink: #FF7E77ff;
--sandy-brown: #FF9F5Dff;
--ghost-white: #F4F4F8;
--blue-green: #018FB7ff;
--denim: #0159B5ff;
--azure: #0084FFff;
--medium-aquamarine: #00E2B0ff;
--mountain-meadow: #01C1A4ff;
--boldfont: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
--pfont: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: var(--ghost-white);
    color: var(--denim);
    font-family: var(--pfont);
    margin: auto;
}

/* header and navbar */
.topcontainer {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--brink-pink);
    justify-content: space-between;
    align-items: center;
}

#logo {
    background-color: var(--sandy-brown);
    flex: 0 1 100px;
    text-align: right;
    padding: 10px 10px 10px 50px;
    color: var(--ghost-white);
    font-family: var(--boldfont);
}

#navbar li{
    display: inline-block;
    
}

#navbar a {
    text-decoration: none;
    font-size: 20px;
    color: var(--ghost-white);
    padding: 10px 20px;
}

/* background image and avatar*/
.gradient {
    background-image: url("../images/sean-sinclair-C_NJKfnTR5A-unsplash.jpg");
    position: relative;
    height: 250px;
    background-size: cover;
    background-position: center;
}

.gradient img {
    height: 250px;
    /* display: block; */
    /* position: absolute; */
    /* scaling is strange with vw, but maybe padding is whats off? */
    padding-left: 5vw;
}

/* main content - mission section */
.midcontainer {
    display: flex;
    flex-wrap: wrap;
}

.content {
    border: 2px solid var(--brink-pink);
    padding: 10px;
    margin: 10px 100px;
    /* this max-width keeps it in-line but is problematic */
    width: 800px;
    margin-left: auto;
}

/* main content - sideheader */
.sideheader {
    background-color: var(--sandy-brown);
    flex: 0 1 100px;
    text-align: right;
    padding: 10px 10px 10px 50px;
    color: var(--ghost-white);
    font-family: var(--boldfont);
    max-height: 30px;
}

/* main content - collection section */
.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid var(--brink-pink);
    padding: 10px;
    margin: 10px 100px;
    /* this max-width keeps it in-line but is problematic */
    width: 800px;
    margin-left: auto;
    /* justify-content: space-evenly; */
    /* align-items: stretch; */
    /* margin-left: auto; */
}

.images div img {
    flex: 1 1 800px;    
    width: 380px;
    height: 200px;
    object-fit: cover;
    padding: 0px 1px;
    margin: auto;
  }

.highlightwork {
    flex: 1 2 800px;
    /* width: 780px; */
    height: 200px;
    object-fit: cover;
    margin: auto;
}


/* main content - contact info section */
div ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

ul li {
    display: inline-block;
}
