
/* Color pallete from coolers*/
:root {
--antique-ruby: #8B012Dff;
--eminence: #793996ff;
--brink-pink: #FF5580ff;
--congo-pink: #FF7E77ff;
--sandy-brown: #FF9F5Dff;
--ghost-white: #F4F4F8;
--blue-green: #018FB7ff;
--denim: #0159B5ff;
--azure: #0084FFff;
--medium-aquamarine: #00E2B0ff;
--mountain-meadow: #01C1A4ff;
--boldfont: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
--pfont: Georgia, 'Times New Roman', Times, serif;
}

/* Background settings / font */
body {
    background-color: var(--ghost-white);
    color: var(--denim);
    font-family: var(--pfont);
    margin: auto;
}

/* header and navbar */
.topcontainer {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--brink-pink);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#logo {
    background-color: var(--sandy-brown);
    flex: 0 1 100px;
    text-align: right;
    padding: 10px 10px 10px 50px;
    color: var(--ghost-white);
    font-family: var(--boldfont);
}

#navbar li{
    display: inline-block;
    
}

#navbar a {
    text-decoration: none;
    font-size: 20px;
    color: var(--ghost-white);
    padding: 10px 20px;
}

/* CURRENTLY DOES NOTHING: anchors nav links below the fixed header */
a .anchor {
    display: block;
    position: relative;
    margin-top: -250px;
    visibility: hidden;
}

/* background image and avatar*/
.gradient {
    background-image: url("../images/sean-sinclair-C_NJKfnTR5A-unsplash.jpg");
    position: relative;
    height: 250px;
    background-size: cover;
    background-position: center;
    margin-top: 100px;
}

.gradient img {
    height: 250px;
    /* scaling is strange with vw, but maybe padding is whats off? */
    padding-left: 5vw;
}

/* main content - flex box within a flex box */
.sectioncontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sectioncontent {
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid var(--brink-pink); */
    padding: 10px;
    margin: 10px 100px;
    /* flex: 0 2 20%; */
    /* this max-width keeps it in-line but is problematic */
    width: 800px;
    margin-left: auto;
    justify-content: flex-end;
    margin-left: auto;
    text-align: center;
}

/* main content - sideheader */
.sideheader {
    background-color: var(--sandy-brown);
    /* flex: 0 1 70%; */
    text-align: right;
    padding: 10px 10px 10px 50px;
    color: var(--ghost-white);
    font-family: var(--boldfont);
    max-height: 30px;
}

/* main content - images within collection */
.work {
    flex: 1 0 50%;
/* subtitles for photos */
    position: relative;
    text-align: center;
    font-size: 30px;
}

.work a {
    text-decoration: none;
    color: var(--ghost-white);
    text-shadow: 2px 2px var(--denim);
}

.work img { 
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding: 0px 1px;
    margin: auto;
  }

#highlightwork {
    flex-basis: 100%;
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding: 5px 0px;
    margin: auto;
}

/* image subtitles */
.image-title {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* main content - contact info section */
div ul li {
    display: inline-block;
    padding: 20px;
}
